-- Example 0
topc0der
topcoder

Possible
-- Example 1
topcoder
codertop

Impossible
-- Example 2
o0ol1lnmn
oo0ll1nnm

Possible
-- Example 3
c01unn
column

Possible
-- Example 4
0
l

Impossible
-- Example 5
81vdiu0n50mxlxopqn8olxbqromvkral21nbi
llv0i00p50nx1xs1qn1o13bqaomv0r152lmgi

Impossible
-- Example 6
nl91gn9lnnqpyo09ml1h140onnomoonr0ow24qfw0muf
nl9lgn91nmqpy009ml1hl4o0nm0mo0nro0w24qfwonuf

Possible
